
<footer>
    <p>Copyright &copy; by
        <a href="https://blog.magicyou.cn/" target="_blank" title="magicYou的博客">magicYou'blog</a>
    </p>
</footer>
</div>
</div>
    <!-- /. WRAPPER  -->
</body>
</html>
<!-- JS Scripts-->
<!-- jQuery Js -->
 <script src="/static/original/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="/static/original/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="/static/original/js/jquery.metisMenu.js"></script>


<script src="/static/js/jquery.cookie.js"></script>
<script src="/static/js/functions.js"></script>
